body{
    background: #fafafa;
}

a{
    color: inherit;
}
.col-md-4 div{
    margin-top: 2rem;
    padding: 1rem;
    background-color: #ffffff;
}

.article {
    /* border: 1px solid darkgray; */
    margin-top: 2rem;
    background-color: #ffffff;

}

.Postauthor {
    font-family: sans-serif;
    font-weight: 300;
    
    
}

.Postdate {
    color: darkgray;
}

.account-info{
    display: flex;
    justify-content: center;
}

.img-thumbnail.rounded-circle{
    height: 200px;
    width: 200px;
}

.post-metadata{
    padding-bottom: 1rem;
    border-bottom: 1px solid lightgray;
    border-radius: 2px;
    border-width: 80%;
    
}

#post_img{

    height: 50px;
    width: 50px;
}