{% extends 'layout.html' %}

{% block content %}
<h1>About Page</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Incidunt nostrum maxime amet laudantium nam quod molestiae
    sapiente, inventore distinctio rem sit. Quasi sint, sit nesciunt odio vitae doloribus amet tempora modi nam, minima
    fugit, laboriosam et animi dolorum quia officia delectus dolorem nobis dolore. Magnam facilis soluta ipsa, nam nisi
    voluptatem voluptates illum odio dolore qui quidem corporis eum inventore voluptatibus eaque nostrum! Cum unde
    repellendus voluptate fugiat numquam soluta, porro tempora distinctio. Voluptatum recusandae neque tempora voluptas
    officia autem. Ducimus harum dicta perspiciatis sunt assumenda, accusamus tempora veritatis, dolore iure magnam nemo
    voluptates asperiores soluta recusandae totam molestiae, ad voluptatibus velit numquam laboriosam incidunt itaque.
    Illum commodi adipisci labore velit qui, aperiam quisquam soluta, in placeat dolores error voluptates doloremque.
    Eos laborum reiciendis sint voluptatum nisi hic! Possimus blanditiis temporibus ducimus mollitia cupiditate, rem
    ullam aliquid, delectus quam quos consequatur officia quo beatae nobis ipsa accusamus modi placeat praesentium eum.
    Minima esse obcaecati a, optio ipsa perspiciatis excepturi totam quod pariatur quae harum. Consequuntur, ratione
    numquam harum adipisci, repellendus a incidunt vero possimus accusantium saepe, laudantium in facilis aperiam!
    Cumque sit fugiat eius id minima asperiores omnis iusto, facere vel rem, ratione esse eveniet. Totam enim ad quod
    provident magnam minus, incidunt molestiae labore nemo odit tempore nesciunt expedita quas a dolor illum ipsum,
    beatae doloribus sapiente placeat quae voluptatem ratione laborum voluptas! Nam maiores, a omnis in maxime tenetur
    odit ipsam autem optio quisquam eligendi. Ab ex similique nobis libero veritatis, doloremque possimus impedit odit
    quas architecto beatae quasi explicabo nam nihil. Fugit quasi cum, vitae inventore ducimus expedita consequatur
    corrupti. Repudiandae odit, sit nostrum molestias laudantium obcaecati, commodi quam earum modi minus sunt aliquid.
    Voluptatum hic voluptatibus iure maiores! Vitae quod impedit accusantium ipsa eligendi vero rem sequi iste. Quos
    facere quas ex quo, velit iste expedita!</p>
<a href="https://github.com/RatanNarayanHegde/Flask-Blog">Check out github page</a>
{% endblock %}